<div class="container-fluid">
    <div class="row page-titles pt-1">
       <div class="col-md-5 align-self-center">
          <h4 ><i class="las la-user-injured"></i> Add Patient</h4>
       </div>
       <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
             <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Add Doctor</li>
             </ol>
          </div>
       </div>
    </div>
 </div>
 <div class="container-fluid pt-1 ">
    <div class="row">
       <div class="col">
          <form class="form-layout">
             <div class="card">
                <div class="card-header bg-white ">
                   Add Patient
                </div>
                <div class="card-body">
                   <div class="row">
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Name</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Name" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-user-alt"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Age</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Password" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-lock"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Date of Birth</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Email ID" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-calendar-day"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-4">
                         <div class="form-group">
                            <label for="exampleInputuname">Email ID</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Email ID" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-envelope"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-4">
                         <div class="row">
                            <div class="col">
                               <div class="form-group">
                                  <label for="exampleInputuname">Height </label>
                                  <div class="input-group mb-3">
                                     <input type="text" class="form-control" placeholder="Height" >
                                     <div class="input-group-append">
                                        <span class="input-group-text"><i class="las la-ruler-vertical"></i></span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="col">
                               <div class="form-group">
                                  <label for="exampleInputuname">Weight </label>
                                  <div class="input-group mb-3">
                                     <input type="text" class="form-control" placeholder="Weight" >
                                     <div class="input-group-append">
                                        <span class="input-group-text"><i class="las la-balance-scale"></i></span>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-4">
                         <div class="form-group">
                            <label for="exampleInputuname">Mobile</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Mobile" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-mobile"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-4">
                         <div class="form-group">
                            <label for="exampleInputuname">Marital Status </label>
                            <select class="form-control mb-3" id="">
                               <option>-- Select --</option>
                               <option>2</option>
                               <option>3</option>
                               <option>4</option>
                            </select>
                         </div>
                      </div>
                      <div class="col-4">
                         <div class="form-group">
                            <label for="exampleInputuname">ID Number </label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="ID Number " >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-address-card"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-4">
                         <div class="form-group">
                            <label for="exampleInputuname">Address</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Address" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-map-marked-alt"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col-4">
                         <div class="form-group">
                            <label for="exampleInputuname">Occupation </label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Occupation" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-briefcase"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-4">
                         <div class="form-group">
                            <label for="exampleInputuname">Annual Income </label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Annual Income" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-money-bill"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-4">
                         <div class="form-group">
                            <label for="exampleInputuname">Illness</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Mobile" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-procedures"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="card-header bg-light border-top pt-1 pb-1 ">
                   Medical History
                </div>
                <div class="card-body">
                   <div class="row">
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Allergy to Medical</label>
                            <div class="custom-control custom-radio custom-control-inline">
                               <input type="radio" class="custom-control-input" id="yes" checked="checked"  name="allergy" value="allergy">
                               <label class="custom-control-label" for="yes">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                               <input type="radio" class="custom-control-input" id="no" name="allergy" value="allergy">
                               <label class="custom-control-label" for="no">No</label>
                            </div>
                         </div>
                         <div class="form-group">
                            <label for="exampleInputuname">If Yes Which Medicine </label>
                            <textarea class="form-control" id="" rows="5" placeholder="Enter your text"></textarea>
                         </div>
                         <div class="form-group">
                            <label for="exampleInputuname">Medical Conditions</label>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked"  name="medical">
                               <label class="custom-control-label" for="customCheck">Asthma</label>
                            </div>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" name="medical">
                               <label class="custom-control-label" for="customCheck">Cancer</label>
                            </div>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" name="medical">
                               <label class="custom-control-label" for="customCheck">Cardiac</label>
                            </div>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" name="medical">
                               <label class="custom-control-label" for="customCheck">Diabetes</label>
                            </div>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" name="medical">
                               <label class="custom-control-label" for="customCheck">Hypertension</label>
                            </div>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" name="medical">
                               <label class="custom-control-label" for="customCheck">Migrane</label>
                            </div>
                         </div>
                         <div class="form-group">
                            <label for="exampleInputuname">Others </label>
                            <textarea class="form-control" id="" rows="5" placeholder="Enter your text"></textarea>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Symptoms</label>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" checked="checked" name="symptoms">
                               <label class="custom-control-label" for="customCheck">Chestpain</label>
                            </div>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" name="symptoms">
                               <label class="custom-control-label" for="customCheck">Respiratory</label>
                            </div>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" name="symptoms">
                               <label class="custom-control-label" for="customCheck">Cardiac</label>
                            </div>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" name="symptoms">
                               <label class="custom-control-label" for="customCheck">Lympthatic</label>
                            </div>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" name="symptoms">
                               <label class="custom-control-label" for="customCheck">Neurological</label>
                            </div>
                            <div class="custom-control custom-checkbox form-check-inline">
                               <input type="checkbox" class="custom-control-input" id="customCheck" name="symptoms">
                               <label class="custom-control-label" for="customCheck">Weightgain</label>
                            </div>
                         </div>
                         <div class="form-group">
                            <label for="exampleInputuname">Others </label>
                            <textarea class="form-control" id="" rows="5" placeholder="Enter your text"></textarea>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row text-right mt-3">
                <div class="col">
                   <button type="submit" class="btn btn-secondary btn-sm mr-2">Reset</button>
                   <button type="submit" class="btn btn-success btn-sm ">Save</button>
                </div>
             </div>
          </form>
       </div>
    </div>
 </div>