<div class="container-fluid">
    <div class="row page-titles pt-1">
       <div class="col-md-5 align-self-center">
          <h4 ><i class="las la-clinic-medical"></i> Camp</h4>
       </div>
       <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
             <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Camp</li>
             </ol>
          </div>
       </div>
    </div>
 </div>
 <div class="container-fluid pt-1 ">
    <div class="row">
       <div class="col">
          <form class="form-layout">
             <div class="card">
                <div class="card-header bg-white ">
                   Add Camp
                </div>
                <div class="card-body">
                   <div class="row">
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Name</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Name" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-user-alt"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Location ID</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Location ID" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-map-marker"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Location Name</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Location Name" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-map"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                  
                     
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Date </label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Date" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-calendar"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                           <label for="exampleInputuname">No of Days/ End Date</label>
                           <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="No of Days/ End Date" >
                              <div class="input-group-append">
                                 <span class="input-group-text"><i class="las la-calendar-week"></i></span>
                              </div>
                           </div>
                        </div>
                     </div>
                   </div>
             
                   <div class="row">
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Description</label>
                            <textarea class="form-control" id="" rows="5"></textarea>
                         </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                           <label for="exampleInputuname">Camp Host Organisation</label>
                           <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Camp Host Organisation" >
                              <div class="input-group-append">
                                 <span class="input-group-text"><i class="las la-landmark"></i></span>
                              </div>
                           </div>
                        </div>
                     </div>
                   </div>
                  
                </div>
             </div>
             <div class="row text-right mt-3">
                <div class="col">
                   <button type="submit" class="btn btn-secondary btn-sm mr-2">Reset</button>
                   <button type="submit" class="btn btn-success btn-sm ">Save</button>
                </div>
             </div>
          </form>
       </div>
    </div>
 </div>