<div class="container-fluid">
    <div class="row page-titles pt-1">
       <div class="col-md-5 align-self-center">
          <h4 ><i class="las la-stethoscope"></i> Doctor</h4>
       </div>
       <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
             <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Doctor</li>
             </ol>
          </div>
       </div>
    </div>
 </div>
 <div class="container-fluid pt-1 hs-tablelayout ">
    <div class="row">
       <div class="col">
             <div class="card">
                <div class="card-header bg-white ">
                    Doctor List
                   <span class="float-right add"><a href="javascript:;" routerLink="doctor/add"><i class="las la-plus"></i></a></span>
                </div>
                <div class="card-body p-0">
                   <table class="table mb-0">
                      <thead>
                         <tr>
                             
                            <th> Name</th>
                            <th>Email ID</th>
                            <th>Department</th>
                            <th>Status</th>
                            <th>Action</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td class="doctor-nl align-items-center"><div class="d-flex"><img src="https://source.unsplash.com/fn_BT9fwg_E/60x60"><span>R.Ram</span></div></td>
                            <td>ram@gmail.com</td>
                            <td>Cardiologists</td>
                            <td>Inactive</td>
                             <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a><a href="#"> <i class="las la-trash"></i></a></span></td>
                         </tr>
                         <tr>
                           <td class="doctor-nl align-items-center"><div class="d-flex"><img src="https://source.unsplash.com/fn_BT9fwg_E/60x60"><span>K.Sankar</span></div></td>
                            <td>sankar@gmail.com</td>
                            <td>Allergists</td>
                            <td>Active</td>
                             <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a><a href="#"> <i class="las la-trash"></i></a></span></td>
                         </tr>
                         <tr>
                           <td class="doctor-nl align-items-center"><div class="d-flex"><img src="https://source.unsplash.com/fn_BT9fwg_E/60x60"><span>S.Murugan</span></div></td>
                            <td>murugan@gmail.com</td>
                            <td>Endocrinologists</td>
                            <td>Inactive</td>
                             <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a><a href="#"> <i class="las la-trash"></i></a></span></td>
                         </tr>
                         <tr>
                           <td class="doctor-nl align-items-center"><div class="d-flex"><img src="https://source.unsplash.com/fn_BT9fwg_E/60x60"><span>D.Peter</span></div></td>
                            <td>peterparker@gmail.com</td>
                            <td>Ophthalmologists</td>
                            <td>Active</td>
                             <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a><a href="#"> <i class="las la-trash"></i></a></span></td>
                         </tr>
                         <tr>
                           <td class="doctor-nl align-items-center"><div class="d-flex"><img src="https://source.unsplash.com/fn_BT9fwg_E/60x60"><span>A.Sekar</span></div></td>
                            <td>sekar@gmail.com</td>
                            <td>Gastroenterologists</td>
                            <td>Inactive</td>
                             <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a><a href="#"> <i class="las la-trash"></i></a></span></td>
                         </tr>
                         <tr>
                           <td class="doctor-nl align-items-center"><div class="d-flex"><img src="https://source.unsplash.com/fn_BT9fwg_E/60x60"><span>L.Surya</span></div></td>
                            <td>surya@gmail.com</td>
                            <td>Nephrologists</td>
                            <td>Active</td>
                             <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a><a href="#"> <i class="las la-trash"></i></a></span></td>
                         </tr>
                         <tr>
                           <td class="doctor-nl align-items-center"><div class="d-flex"><img src="https://source.unsplash.com/fn_BT9fwg_E/60x60"><span>V.Thangaraj</span></div></td>
                            <td>thangaraj@gmail.com</td>
                            <td>Urologists</td>
                            <td>Active</td>
                             <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a><a href="#"> <i class="las la-trash"></i></a></span></td>
                         </tr>
                         <tr>
                           <td class="doctor-nl align-items-center"><div class="d-flex"><img src="https://source.unsplash.com/fn_BT9fwg_E/60x60"><span>M.Baskar</span></div></td>
                            <td>baskar@gmail.com</td>
                            <td>Ophthalmologists</td>
                            <td>Active</td>
                             <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a><a href="#"> <i class="las la-trash"></i></a></span></td>
                         </tr>
                         <tr>
                           <td class="doctor-nl align-items-center"><div class="d-flex"><img src="https://source.unsplash.com/fn_BT9fwg_E/60x60"><span>Jayakumar</span></div></td>
                            <td>jayakumar@gmail.com</td>
                            <td>Psychiatrists </td>
                            <td>Active</td>
                             <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a><a href="#"> <i class="las la-trash"></i></a></span></td>
                         </tr>
                         <tr>
                           <td class="doctor-nl align-items-center"><div class="d-flex"><img src="https://source.unsplash.com/fn_BT9fwg_E/60x60"><span>Sarath</span></div></td>
                            <td>sarath@gmail.com</td>
                            <td>Radiologists</td>
                            <td>Inactive</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a><a href="#"> <i class="las la-trash"></i></a></span></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
         
       </div>
    </div>
    <div class="row mt-3 mb-3 float-right">
        <div class="col ">
            <nav>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#" class="page-link" tabindex="-1"><i class="las la-angle-double-left"></i></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="las la-angle-double-right"></i></a></li>
                </ul>
            </nav>
            </div>
    </div>
 </div>