<div class="container-fluid">
    <div class="row page-titles pt-1">
       <div class="col-md-5 align-self-center">
          <h4 ><i class="las la-user-injured"></i> Patient</h4>
       </div>
       <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
             <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Patient</li>
             </ol>
          </div>
       </div>
    </div>
 </div>
 <div class="container-fluid pt-1 hs-tablelayout ">
    <div class="row">
       <div class="col">
             <div class="card">
                <div class="card-header bg-white ">
                    Patient List
                   <span class="float-right add"><a href="javascript:;" routerLink="/patient/add"><i class="las la-plus"></i></a></span>
                </div>
                <div class="card-body p-0">
                   <table class="table mb-0">
                      <thead>
                         <tr>
                             
                            <th> Name</th>
                            <th>Email ID</th>
                            <th>Mobile</th>
                            <th>ID Number</th>
                            <th>Action</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>R.Ram</td>
                            <td>ram@gmail.com</td>
                            <td>9876543100</td>
                            <td>SA0001</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>K.Sankar</td>
                            <td>sankar@gmail.com</td>
                            <td>9876543556</td>
                            <td>SA0002</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>S.Murugan</td>
                            <td>murugan@gmail.com</td>
                            <td>9876544165</td>
                            <td>SA0003</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>D.Peter</td>
                            <td>peterparker@gmail.com</td>
                            <td>9896543121</td>
                            <td>SA0004</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>A.Sekar</td>
                            <td>sekar@gmail.com</td>
                            <td>9876511122</td>
                            <td>SA0005</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>L.Surya</td>
                            <td>surya@gmail.com</td>
                            <td>9876113121</td>
                            <td>SA0006</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>V.Thangaraj</td>
                            <td>thangaraj@gmail.com</td>
                            <td>9116543154</td>
                            <td>SA0007</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>M.Baskar</td>
                            <td>baskar@gmail.com</td>
                            <td>9876544433</td>
                            <td>SA0008</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>Jayakumar</td>
                            <td>jayakumar@gmail.com</td>
                            <td>9833543122</td>
                            <td>SA0009</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>Sarath</td>
                            <td>sarath@gmail.com</td>
                            <td>9844543111</td>
                            <td>SA0010</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
         
       </div>
    </div>
    <div class="row mt-3 mb-3 float-right">
        <div class="col ">
            <nav>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#" class="page-link" tabindex="-1"><i class="las la-angle-double-left"></i></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="las la-angle-double-right"></i></a></li>
                </ul>
            </nav>
            </div>
    </div>
 </div>