<div class="container-fluid">
    <div class="row page-titles pt-1">
       <div class="col-md-5 align-self-center">
          <h4 ><i class="las la-clinic-medical"></i> Camp</h4>
       </div>
       <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
             <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Camp</li>
             </ol>
          </div>
       </div>
    </div>
 </div>
 <div class="container-fluid pt-1 hs-tablelayout ">
    <div class="row">
       <div class="col">
             <div class="card">
                <div class="card-header bg-white ">
                    Camp List
                   <span class="float-right add"><a href="javascript:;" routerLink="/camp/add"><i class="las la-plus"></i></a></span>
                </div>
                <div class="card-body p-0">
                   <table class="table mb-0">
                      <thead>
                         <tr>
                             
                            <th> Name</th>
                            <th>Location ID</th>
                            <th>Location Name</th>
                            <th>Date</th>
                            <th>Action</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            <td>R.Ram</td>
                            <td>LA0001</td>
                            <td>Saidapet</td>
                            <td>10/10/2019</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>K.Sankar</td>
                            <td>LA0002</td>
                            <td>Kodambakkam</td>
                            <td>15/09/2019</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>S.Murugan</td>
                            <td>LA0003</td>
                            <td>CMBT</td>
                            <td>15/09/2019</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>D.Peter</td>
                            <td>LA0004</td>
                            <td>Anna Nagar</td>
                            <td>07/03/2019</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>A.Sekar</td>
                            <td>LA0005</td>
                            <td>Parrys</td>
                            <td>05/07/2019</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>L.Surya</td>
                            <td>LA0006</td>
                            <td>Kolathur</td>
                            <td>13/04/2019</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>V.Thangaraj</td>
                            <td>LA0007</td>
                            <td>Redhills</td>
                            <td>01/02/2019</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>M.Baskar</td>
                            <td>LA0008</td>
                            <td>MCR Nagar</td>
                            <td>11/04/2019</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>Jayakumar</td>
                            <td>LA0009</td>
                            <td>Ambattur</td>
                            <td>21/03/2019</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                         <tr>
                            <td>Sarath</td>
                            <td>LA0010</td>
                            <td>KK Nagar</td>
                            <td>05/03/2019</td>
                            <td><span class="action"><a href="#"><i class="las la-edit"></i></a> <a href="#"><i class="las la-eye"></i></a></span></td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
         
       </div>
    </div>
    <div class="row mt-3 mb-3 float-right">
        <div class="col ">
            <nav>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#" class="page-link" tabindex="-1"><i class="las la-angle-double-left"></i></a></li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link"><i class="las la-angle-double-right"></i></a></li>
                </ul>
            </nav>
            </div>
    </div>
 </div>