<div class="container-fluid">
    <div class="row page-titles pt-1">
       <div class="col-md-5 align-self-center">
          <h4 ><i class="las la-stethoscope"></i> Doctor</h4>
       </div>
       <div class="col-md-7 align-self-center text-right">
          <div class="d-flex justify-content-end align-items-center">
             <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Doctor</li>
             </ol>
          </div>
       </div>
    </div>
 </div>
 <div class="container-fluid pt-1 ">
    <div class="row">
       <div class="col">
          <form class="form-layout">
             <div class="card">
                <div class="card-header bg-white ">
                   Add Doctor
                </div>
                <div class="card-body">
                   <div class="row">
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Name</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Name" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-user-alt"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Email ID</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Email ID" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-envelope"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Password</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Password" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-lock"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Designation</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Designation" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-graduation-cap"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Department</label>
                            <select class="form-control mb-3" id="">
                               <option>-- Select --</option>
                               <option>2</option>
                               <option>3</option>
                               <option>4</option>
                            </select>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Specialist </label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Specialist" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-user-nurse"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Address</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Address" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-map-marked-alt"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Upload</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Upload" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-upload"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Mobile</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Mobile" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-mobile"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Short Biography</label>
                            <textarea class="form-control" id="" rows="5"></textarea>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Date Of Birth</label>
                            <div class="input-group mb-3">
                               <input type="text" class="form-control" placeholder="Date Of Birth" >
                               <div class="input-group-append">
                                  <span class="input-group-text"><i class="las la-calendar-day"></i></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Blood Group</label>
                            <select class="form-control mb-3" id="">
                               <option>-- Select --</option>
                               <option>2</option>
                               <option>3</option>
                               <option>4</option>
                            </select>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Sex</label>
                            <div class="custom-control custom-radio custom-control-inline">
                               <input type="radio" class="custom-control-input" id="male" checked="checked"  name="sex" value="sex">
                               <label class="custom-control-label" for="male">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                               <input type="radio" class="custom-control-input" id="female" name="sex" value="sex">
                               <label class="custom-control-label" for="female">Female</label>
                            </div>
                         </div>
                      </div>
                      <div class="col">
                         <div class="form-group">
                            <label for="exampleInputuname">Status</label>
                            <div class="custom-control custom-radio custom-control-inline">
                               <input type="radio" class="custom-control-input" id="active" checked="checked"  name="status" value="status">
                               <label class="custom-control-label" for="active">Active</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                               <input type="radio" class="custom-control-input" id="inactive" name="status" value="status">
                               <label class="custom-control-label" for="inactive">Inactive</label>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row text-right mt-3">
                <div class="col">
                   <button type="submit" class="btn btn-secondary btn-sm mr-2">Reset</button>
                   <button type="submit" class="btn btn-success btn-sm ">Save</button>
                </div>
             </div>
          </form>
       </div>
    </div>
 </div>