
.sidebar-wrapper {
    width:220px;
    height: 100vh;
    min-height: 100%;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background:#f5f9fa;
  }
  
.sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
.sidebar-wrapper .list-group {
    width: 15rem;
  }

.sidebar-wrapper ul li a {
    padding: 15px 30px 15px 30px;
    font-size: 14px;
    display: block;
    position: relative;
    color:#515365;
    text-decoration: none;

}
#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
.sidebar-wrapper ul li a i {
    font-size: 20px;
    font-weight: bold;
    padding-right: 5px;
}
.sidebar-wrapper ul li a .dropdown{
    position: absolute;
    right: 15px;
    font-size: 16px;
    padding-right: 0px;
    top: 13px;
}
.sidebar-wrapper ul li a .dropdown i{
    font-size: 11px;
    padding-right: 0px;
}
.sidebar-wrapper ul li a:hover {
    color:#972070;
}

.sidebar-wrapper ul li.active > a, a[aria-expanded="true"] {
    color: #972070;
}
ul ul 
{
    border-top:1px solid #ececec;
    border-bottom:1px solid #ececec;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #edf2f7;
}
.sidebar-wrapper .dropdown-toggle::after {
    display:none;
}