<div class=" border-right collapse show sidebar-wrapper" id="sidebar"   >
    <div class="sidebar-heading text-center"><a href="" class="mr-auto"><img src="../../assets/images/logo.png" title='logo'  style="width:150px"></a> </div>
    <ul class="list-unstyled components">
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/dashboard" ><i class="las la-home"></i> Dashboard</a>
        </li>

        <li routerLinkActive="active">
            <a  href="javascript:;" routerLink="/doctor/list"  ><i class="las la-stethoscope"></i> Doctor</a>
        </li>
        
        <li routerLinkActive="active" routerLinkActive="active">
            <a href="javascript:;" routerLink="/patient/list" ><i class="las la-user-injured"></i> Patient</a>
        </li >
        <li routerLinkActive="active">
            <a href="#"><i class="las la-grin-hearts"></i> Donors</a>
        </li>
        <li routerLinkActive="active">
            <a href="#"><i class="las la-users"></i> Volunteers</a>
        </li>
        <li routerLinkActive="active">
            <a href="#"><i class="las la-user-tie"></i> Partners</a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/camp/list" ><i class="las la-clinic-medical"></i> Camp</a>
        </li>
        <li routerLinkActive="active">
            <a href="#"><i class="las la-notes-medical"></i> Report</a>
        </li>

        
        
       <!-- <li>
            <a href="#menu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="las la-notes-medical"></i> Reports <span class="dropdown"><i class="las la-angle-left"></i></span></a>
            <ul class="collapse list-unstyled" id="menu7">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>-->
      
       
    </ul>
</div>


