<div class="container-fluid">
    <div class="row page-titles pt-1">
        <div class="col-md-5 align-self-center">
            <h4 ><i class="las la-home"></i> Welcome to Dashboard</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb mb-0 bg-white">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
               
            </div>
        </div>
    </div>   
</div>


<div class="container-fluid pt-1 ">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body p-2">
                    <div class="d-flex w-100">
                        <div class="icons">
                            <i class="las la-stethoscope"></i>

                        </div>
                        <div class="content ml-auto">
                           <h5 class="text-right">20</h5> 
                            <p class="m-0">Active Doctors</p>
                        </div>

                    </div>

                </div>
            </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body p-2">
                        <div class="d-flex w-100">
                            <div class="icons">
                                <i class="las la-user-injured"></i>

                            </div>
                            <div class="content ml-auto">
                                <h5 class="text-right">05</h5> 
                                 <p class="m-0">Active Patients</p>
                             </div>

                        </div>
    
                    </div>
                </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body p-2">
                            <div class="d-flex w-100">
                                <div class="icons">
                                    <i class="las la-clinic-medical"></i>
    
                                </div>
                                <div class="content ml-auto">
                                    <h5 class="text-right">19</h5> 
                                     <p class="m-0">Active Camp</p>
                                 </div>
    
                            </div>
        
                        </div>
                    </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="card-body p-2">
                                <div class="d-flex w-100">
                                    <div class="icons">
                                        <i class="las la-grin-hearts"></i>
        
                                    </div>
                                    <div class="content ml-auto">
                                        <h5 class="text-right">22</h5> 
                                         <p class="m-0">Active Donors</p>
                                     </div>
        
                                </div>
            
                            </div>
                        </div>
                        </div>

                        <div class="col">
                            <div class="card">
                                <div class="card-body p-2">
                                    <div class="d-flex w-100">
                                        <div class="icons">
                                            <i class="las la-users"></i>
            
                                        </div>
                                        <div class="content ml-auto">
                                            <h5 class="text-right">26</h5> 
                                             <p class="m-0">Active Volunteers</p>
                                         </div>
            
                                    </div>
                
                                </div>
                            </div>
                            </div>

                            <div class="col">
                                <div class="card">
                                    <div class="card-body p-2">
                                        <div class="d-flex w-100">
                                            <div class="icons">
                                                <i class="las la-user-tie"></i>
                
                                            </div>
                                            <div class="content ml-auto">
                                                <h5 class="text-right">50</h5> 
                                                 <p class="m-0">Active Partners</p>
                                             </div>
                
                                        </div>
                    
                                    </div>
                                </div>
                                </div>

            </div>


            <div class="row mt-4 mb-4">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header bg-white">
                            Recent Report
                        </div>
                        <div class="card-body ">
                            <div class="d-flex">
                          <div class="report-box w-100 pr-2">
                            <div class="values">
                              <h6> $ 2,71,290</h6>
                              <p class="mb-0">Total Donations</p>
                              <p class="mb-0 report-box-info">Lorem ipsum, or lipsum as it is sometimes known</p>
                              </div>
                              <div class="values">
                                <h6> $ 8,31,565</h6>
                                <p class="mb-0">Total Donations</p>
                                <p class="mb-0 report-box-info">Lorem ipsum, or lipsum as it is sometimes known</p>
                                </div>

                          </div>
                          <div class="report-box w-100">
                              <h6>Campwise Expensive</h6>
                              <p class="mb-0">Camp 1</p>
                            <div class="progress mb-2">
                                <div class="progress-bar bg-success" style="width:100%">100%</div>
                              </div>
                              <p class="mb-0">Camp 2</p>
                              <div class="progress mb-2">
                                <div class="progress-bar bg-danger" style="width:80%">80%</div>
                              </div>
                              <p class="mb-0">Camp 3</p>
                              <div class="progress mb-2">
                                <div class="progress-bar bg-warning" style="width:60%">60%</div>
                              </div>
                          </div>
                          </div>
                          <hr class="mt-2 mb-0">
                          <div class="d-block ">
                              <div class="text-center">
                            <img src="../../assets/images/samarpan.jpg" title='graph'  style="width:300px">
                            </div>

                          </div>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header bg-white">
                            Calender
                        </div>
                        <div class="card-body">
                            <section id="calendar" class="collectonme">
                                <div id="day-labels" class="d-flex w-100">
                                    <div class="label w-25 p-2 text-right"><i class="las la-chevron-circle-left"></i></div>
                                    <div class="label month text-center w-50 p-2">June 2020</div>
                                    <div class="label w-25  text-left p-2"><i class="las la-chevron-circle-right"></i></div>
                                  </div>
                                <div id="day-labels">
                                  <div class="label">Sun</div>
                                  <div class="label">Mon</div>
                                  <div class="label">Tue</div>
                                  <div class="label">Wed</div>
                                  <div class="label">Thu</div>
                                  <div class="label">Fri</div>
                                  <div class="label">Sat</div>
                                </div>
                                <div id="one" class="week">
                                  <div class="day noDate"></div>
                                  <div class="day noDate"></div>
                                  <div class="day">
                                    <span class="date">1</span>
                                  
                                    
                                  </div>
                                  <div class="day">
                                    <span class="date">2</span>
                                 
                                  </div>
                                  <div class="day">
                                    <span class="date">3</span>
                                  
                                  </div>
                                  <div class="day">
                                    <span class="date">4</span>
                                 
                                  </div>
                                  <div class="day">
                                    <span class="date">5</span>
                                  
                                  </div>
                                </div>
                                <div id="two" class="week">
                                  <div class="day">
                                    <span class="date">6</span>
                                 
                                  </div>
                                  <div class="day">
                                    <span class="date">7</span>
                                 
                                  </div>
                                  <div class="day">
                                    <span class="date">8</span>
                                
                                  </div>
                                  <div class="day">
                                    <span class="date">9</span>
                                  
                                  </div>
                                  <div class="day">
                                    <span class="date">10</span>
                                 
                                  </div>
                                  <div class="day">
                                    <span class="date">11</span>
                                 
                                  </div>
                                  <div class="day">
                                    <span class="date">12</span>
                                 
                                  </div>
                                </div>
                                <div id="three" class="week">
                                  <div class="day">
                                    <span class="date">13</span>
                               
                                  </div>
                                  <div class="day">
                                    <span class="date">14</span>
                              
                                  </div>
                                  <div class="day">
                                    <span class="date">15</span>
                                 
                                  </div>
                                  <div class="day">
                                    <span class="date">16</span>
                                 
                                  </div>
                                  <div class="day">
                                    <span class="date">17</span>
                                
                                  </div>
                                  <div class="day">
                                    <span class="date">18</span>
                                 
                                  </div>
                                  <div class="day">
                                    <span class="date">19</span>
                                
                                  </div>
                                </div>
                                <div id="four" class="week">
                                  <div class="day">
                                    <span class="date">20</span>
                                  
                                  </div>
                                  <div class="day">
                                    <span class="date">21</span>
                                  </div>
                                  <div class="day">
                                    <span class="date">22</span>
                                  </div>
                                  <div class="day">
                                    <span class="date">23</span>
                                  </div>
                                  <div class="day">
                                    <span class="date">24</span>
                                  </div>
                                  <div class="day" id="christmas-day">
                                    <span class="date">25</span>
                                   
                        </div>
                        <div class="day">
                            <span class="date">26</span>
                          </div>
                                </div>
                                <div id="four" class="week">
                                    
                                    <div class="day">
                                      <span class="date">27</span>
                                    </div>
                                    <div class="day">
                                      <span class="date">28</span>
                                    </div>
                                    <div class="day">
                                      <span class="date">29</span>
                                    </div>
                                    <div class="day">
                                      <span class="date">30</span>
                                    </div>
                                    <div class="day" id="christmas-day">
                                      <span class="date">31</span>
                                     
                          </div>
                          <div class="day" id="christmas-day">
                            <span class="date noDate"></span>
                           
                </div>
                <div class="day" id="christmas-day">
                    <span class="date noDate"></span>
                   
        </div>
                                  </div>
                                </section>

                </div>
            </div>
            </div>
            </div>
            </div>


